:root {
    --bg-color: rgb(235, 243, 255);
    --fg-color: #000000;
    --primary-color: rgb(0, 85, 212);
    --primary-color-rgb: 0, 85, 212;
    --on-primary-color: #ffffff;
    --elevation-color: rgba(255, 255, 255, .5);
    --on-elevation-color: #000000;
    --elevation-shadow-color: rgba(0, 85, 212, 0.2);
    --sidebar-color: rgb(235, 243, 255);
    --on-sidebar-color: rgb(0, 85, 212);
    --link-color: var(--primary-color);
    --secondary-color: rgb(95, 124, 168);
    --on-secondary-color: #ffffff;
    --danger-color: #e64c4c;
    --on-danger-color: #ffffff;
    --on-danger-light-color: #e64c4c;
    --danger-color-light: #fde6e6;
    --success-color: #73c573;
    --on-success-color: #ffffff;
    --on-success-light-color: #73c573;
    --success-color-light: #b9ffb9;
    --border-color: rgb(129, 129, 165);
    --input-bg: #ffffff;
    --input-color: #5e6278;
    --label-text: var(--primary-color);
    --ribbon-color:rgba(255, 255, 255, .5);
    --on-ribbon-color: #010101;
    --scroll-bar-thumb-color: rgb(0, 85, 212);
}

:root[data-theme="dark"] {
    --bg-color: rgb(43, 43, 43);
    --fg-color: #ffffff;
    --primary-color: rgb(59, 102, 175);
    --primary-color-rgb: 59, 102, 175;
    --on-primary-color: #ffffff;
    --elevation-color: rgba(31, 31, 31, 0.5);
    --on-elevation-color: #ffffff;
    --elevation-shadow-color: rgba(34, 31, 31, 0.25);
    --sidebar-color: rgb(31, 31, 31);
    --on-sidebar-color: #ffffff;
    --secondary-color: rgba(108, 117, 125);
    --link-color: #ffffff;
    --border-color: #383838;
    --input-bg: #252525;
    --input-color: #ffffff;
    --label-text: var(--secondary-color);
    --ribbon-color: var(--elevation-color);
    --on-ribbon-color: #ffffff;
    --scroll-bar-bg-color: var(--elevation-color);
    --scroll-bar-thumb-color: var(--primary-color);
}

body {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgb(0 85 212 / .15)' d='M66.4,-23C72.6,-2.2,55.2,24.9,33.6,38.8C12.1,52.7,-13.6,53.4,-32.5,40.7C-51.3,27.9,-63.2,1.8,-56.7,-19.4C-50.1,-40.6,-25.1,-56.7,2.5,-57.5C30,-58.3,60.1,-43.8,66.4,-23Z' transform='translate(100 100)' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0% 20%;
    background-size: 200%;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: 'Poppins', sans-serif;
}

.side-bar::-webkit-scrollbar, .inner-container::-webkit-scrollbar {
    width: .35rem;
    height: .35rem;
}

.side-bar::-webkit-scrollbar-thumb, .inner-container::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-thumb-color);
    border-radius: 1rem;
}

a {
    color: var(--link-color);
}

/* @Typography */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    margin-bottom: .1em;
}

h1, .h1 {
    font-size: 3.4rem;
    font-weight: 700;
}

h2, .h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3, .h3 {
    font-size: 2.6rem;
    font-weight: 500;
}

h4, .h4 {
    font-size: 2.2rem;
    font-weight: 400;
}

h5, .h5 {
    font-size: 1.8rem;
    font-weight: 200;
}

h6, .h6 {
    font-size: 1.4rem;
    font-weight: 100;
}

.title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: normal;
}

.text-center {
    text-align: center;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: 1.25rem;
}

.text-bold {
    font-weight: bold;
}

.text-primary {
    color: var(--primary-color);
}

.text-danger {
    color: var(--danger-color);
}

.text-on-primary {
    color: var(--on-primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-label {
    color: var(--label-text);
}

/* @Input and Textarea */

.input, .textarea, .select {
  background-color: var(--input-bg);
  padding: .75rem;
  border: 1px solid var(--border-color);
  color: var(--input-color);
  border-radius: .25rem;
  outline: none;
  vertical-align: top;
  line-height: 1;
  width: 100%;
}

.input:focus, .textarea:focus, .select:focus {
    box-shadow: 0 0 .01em .2em rgba(var(--primary-color-rgb), .3);
    border-color: var(--primary-color);
}

.input, .textarea {
  appearance: none;
}

.input::placeholder, .textarea::placeholder {
    font-weight: 500;
    font-size: 1rem;
    color: var(--secondary-color);
}

.textarea {
  height: 5rem;
  resize: none;
}

.input {
  height: 3rem;
  min-height: 1px;
}

.input.fill {
  height: 100%;
  width: 100%;
}

.input.is-small {
  height: 2.5rem;
}

.input:disabled {
    color: #c3c3c3;
    cursor: not-allowed;
}

.input-container {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--primary-color);
}

.select {
  padding: 0 1rem;
  height: 2.5rem;
}

.select option:checked {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.select option:hover {
  background-color: var(--secondary-color);
}

.label {
  display: block;
  color: var(--primary-color);
  font-size: 1rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: .25rem;
  height: 2.5rem;
}

.input-group input {
  display: inline-block;
  border: none;
}

.input-group input:hover {
  box-shadow: none;
}

/* @Button */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  height: 3rem;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  border-radius: .25rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.icon-button {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.icon-button.is-small {
    width: 2rem;
    height: 2rem;
}

.icon-button.secondary-icon {
    color: var(--secondary-color);
}

.icon-button:hover {
  background-color: rgba(71, 71, 71, 0.1);
}

.tool-button.active {
    color: var(--primary-color);
    background-color: rgba(71, 71, 71, 0.1);
}

.button.has-icon:hover {
    filter: saturate(.5);
}

.button.is-small {
  height: 2.5rem;
}

.button.is-large {
  height: 3.5rem;
}

.button.has-icon {
  gap: .5rem;
  padding: 1rem;
  font-weight: bold;
}

.button.is-primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  padding: 1rem;
}

.button.is-primary:focus {
    box-shadow: 0 0 .01em .2em rgba(var(--primary-color-rgb), .25);
}

.button.is-secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  padding: 1rem;
}

.button.is-outlined {
    border: 1px solid var(--border-color);
    color: var(--secondary-color);
    padding: 1rem;
}

.button.is-danger {
  background-color: var(--danger-color);
  color: var(--on-danger-color);
  padding: 1rem;
}

.button.is-success {
  background-color: var(--success-color);
  color: var(--on-success-color);
  padding: 1rem;
}

.pagination-button {
    width: 32px;
    height: 32px;
    align-items: center;
    color: var(--primary-color);
    font-weight: bold;
}

.pagination-button:not(:disabled):hover {
    background-color: rgba(71, 71, 71, 0.1);
}

.pagination-button:disabled {
    color: var(--secondary-color);
    cursor: default;
}

.reveal-button {
    color: var(--primary-color);
}

.reveal-button:hover {
    background-color: rgb(0, 85, 212, .15);
}

/* @Cards */

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--elevation-color);
    color: var(--on-elevation-color);
    box-shadow: 0 0 1em .1em var(--elevation-shadow-color);
    width: 200px;
    height: 120px;
    border-radius: 1rem;
    padding: 1rem;
}

.card-header {
    display: flex;
    gap: .5rem;
    color: var(--secondary-color);
}

.card.hoverable {
    cursor: pointer;
}

/* @Layout */

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.side-bar-container {
    display: flex;
    flex: 0 1 20%;
    min-width: 305px;
    overflow: hidden;
    transition: 300ms ease;
}

.side-bar {
    flex: 1;
    background-color: var(--sidebar-color);
    color: var(--on-sidebar-color);
    overflow: auto;
    scrollbar-color: var(--primary-color) var(--elevation-color);
    scrollbar-width: .25rem;
    padding: 1rem 0;
}

.side-bar-container:not(.open) {
    flex-basis: 0;
    min-width: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 4rem;
    padding: 0 2rem;
}

.inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .25rem 2rem 2rem;
    overflow-y: auto;
    scrollbar-color: var(--primary-color) var(--elevation-color);
    scrollbar-width: .25rem;
}

.small-container {
    flex: 1;
    display: flex;
    width: 75%;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem 2rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    display: flex;
    flex-direction: column;
    flex: 0 1 425px;
    background-color: var(--elevation-color);
    box-shadow: 0 .1rem 1rem .25rem rgba(0,0,0,.05);
    overflow: hidden;
    border-radius: 1rem;
    backdrop-filter: blur(.5rem);
}

.multi-form-container {
    flex: 1;
    display: flex;
    overflow: hidden;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
}

.multi-form {
    flex: 1 0 100%;
    display: flex;
}

.section {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--elevation-color);
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .1em .2rem .1rem var(--elevation-shadow-color);
    overflow: hidden;
    backdrop-filter: blur(.5rem);
}

.scrollable {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
}

.editor-section {
    height: 100vh;
}

.bar {
    padding: 1rem;
}

/* @Table */

.users-table {
    background-color: var(--elevation-color);
}

.users-table thead {
    background-color: var(--elevation-color);
    color: var(--fg-color);
}

.users-table {
    border: 1px solid var(--border-color);
}

.users-table, .users-table td {
    border-collapse: collapse;
}

.users-table th {
    font-weight: 600;
    white-space: nowrap;
    padding: 1rem;
}

.users-table td {
    padding: .5rem 1rem;
}

.pagination {
    display: flex;
    gap: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--ribbon-color);
    color: var(--on-ribbon-color);
}

td {
    padding: 1rem;
}

th {
   text-align: left; 
   padding: 1rem;
   white-space: nowrap;
}

.bordered {
    border-top: 1px solid var(--border-color);
}

.bordered:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

/* @Nav */
.side-nav {
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: .5rem 1rem;
    color: var(--primary-color);
    height: 3rem;
    border-radius: .5rem;
    white-space: nowrap;
}

.nav-link svg {
    flex-shrink: 0;
}

.nav-link:hover {
    background: rgb(0, 85, 212, .15);
}

/* @Menu */

.menu {
    display: flex;
    flex-direction: column;
}

.menu-trigger {
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    color: var(--primary-color);
}

.menu-trigger:hover {
    background: rgb(0, 85, 212, .15);
}

.menu-trigger svg {
    flex-shrink: 0;
}

.menu-items {
    display: flex;
    flex-direction: column;
    transition: height 300ms ease;
    background-color: rgb(0, 85, 212, .15);
    border-radius: .5rem;
    overflow: hidden;
}

.menu-items:not(.visible) {
    min-height: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.hover-menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hover-menu {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 200px;
    background-color: var(--elevation-color);
    color: var(--on-elevation-color);
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 0 1em .1em rgba(112, 112, 112, 0.2);
    backdrop-filter: blur(.5rem);
    z-index: 9999;
}

.list-menu {
    padding: .5rem 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.list-menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
}

.list-menu-item:hover {
    background-color: rgba(223, 223, 223, 0.3);
}

/* @Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay:not(.open) {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.modal {
    flex: 0 1 425px;
    background-color: var(--elevation-color);
    box-shadow: 0 .1rem 1rem .25rem rgba(0,0,0,.05);
    border-radius: 1rem;
    backdrop-filter: blur(.5rem);
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: top;
}

.tab {
    color: var(--secondary-color);
    position: relative;
    padding: .5rem .5rem 1rem;
}

.tab.active {
    color: var(--primary-color);
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: .2rem;
    width: 2rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

/* @Alerts and Messages */

.error-message {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: var(--danger-color-light);
    border: 1px solid var(--danger-color);
    color: var(--on-danger-light-color);
    border-radius: .5rem;
}

.success-message {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: var(--success-color-light);
    border: 1px solid var(--on-success-light-color);
    color: var(--on-success-light-color);
    border-radius: .5rem;
}

.upcoming {
    display: inline-block;
    padding: .25rem .5rem;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 1rem;
    font-weight: bold;
    font-size: .6rem;
    text-transform: uppercase;
}

.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
}

.badge.secondary {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
}

.badge.danger {
    background-color: var(--danger-color);
    color: var(--on-danger-color);
}

.badge.success {
    background-color: var(--success-color);
    color: var(--on-success-color);
}

/* misc */

.total {
    display: flex;
    align-items: center;
    padding-inline: 1rem;
    background-color: var(--input-bg);
    height: 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

/* @Spinner */

.spinner {
    animation: 300ms spin linear infinite;
    border-width: .15rem;
    border-style: solid;
    border-color: var(--primary-color) var(--primary-color) #ffffff #ffffff;
    border-radius: 50%;
}

.spinner.large {
    width: 3rem;
    height: 3rem;
}

.spinner.medium {
    width: 2rem;
    height: 2rem;
}

.spinner.small {
    width: 1rem;
    height: 1rem;
}

.mini-container {
    width: clamp(14rem, 16rem, 18rem);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.responsive-menu-toggle {
    display: none;
}

@media only screen and (max-width: 425px) {
    .side-bar-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 99999;
    }
    .icon-box {
        width: 48px;
        height: 48px;
    }
    .responsive-menu-toggle {
        display: flex;
    }
}

@media print {
    body * {
      visibility: hidden;
    }
    #section-to-print, #section-to-print * {
      visibility: visible;
    }
    #section-to-print {
      position: absolute;
      left: 0;
      top: 0;
    }
}
  